---
pagination:
  data: translations.locales
  size: 1
  alias: locale
permalink: "{% if locale == 'en' %}/en/contact/{% else %}/contact/{% endif %}"
layout: layout.njk
eleventyComputed:
  title: "{{ 'contact.title' | t(locale) }}"
  description: "{{ 'contact.description' | t(locale) }}"
---

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(/assets/images/backgrounds/hah_4.jpg);">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="{% if locale == 'en' %}/en/{% else %}/{% endif %}">{{ 'contact.breadcrumb.home' | t(locale) }}</a></li>
                <li><span>/</span></li>
                <li>{{ 'contact.breadcrumb.current' | t(locale) }}</li>
            </ul>
            <h1 style="color: #fff">{{ 'contact.title' | t(locale) }}</h1>
        </div>
    </div> 
</section>
<!--Page Header End-->

<!--Client Issues Start-->
<section class="client-issues">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="client-issues__left">
                    <div class="client-issues__img-box">
                        <div class="client-issues__img">
                            <img src="/assets/images/backgrounds/contact.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="client-issues__right">
                    <div class="section-title text-left">
                        <span class="section-title__tagline">{{ 'contact.reachout.tagline' | t(locale) }}</span>
                        <h2 class="section-title__title">{{ 'contact.reachout.title' | t(locale) }}</h2>
                    </div>
                    <p class="client-issues__text">{{ 'contact.reachout.description' | t(locale) }}</p>
                    <ul class="client-issues__points list-unstyled">
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>{{ 'contact.reachout.point1' | t(locale) }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>{{ 'contact.reachout.point2' | t(locale) }}</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-check"></span>
                            </div>
                            <div class="text">
                                <p>{{ 'contact.reachout.point3' | t(locale) }}</p>
                            </div>
                        </li>
                    </ul>
                    <div class="client-issues__contacts">
                        <div class="client-issues__contact-links">
                            <a class="client-issues__contact-link" href="mailto:{{ site.email }}">
                                <span class="client-issues__contact-icon"><i class="far fa-envelope"></i></span>
                                <span class="client-issues__contact-text">{{ site.email }}</span>
                            </a>
                            <a class="client-issues__contact-link" href="tel:{{ site.phone }}">
                                <span class="client-issues__contact-icon"><i class="fas fa-phone-alt"></i></span>
                                <span class="client-issues__contact-text">{{ site.phone }}</span>
                            </a>
                        </div>
                        <div class="client-issues__social contact-page__social">
                            <a href="{{ site.links.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
                            <a href="{{ site.links.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="contact-page__btn-box">
                        <a href="{% if locale == 'en' %}/en/booking/{% else %}/booking/{% endif %}" class="thm-btn contact-page__btn">{{ 'contact.reachout.cta' | t(locale) }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Client Issues End-->

<!--Google Map Start-->
<section class="contact-page__google-map">
    <iframe
        src="{{ site.googleMapUrl }}"
        class="contact-page__google-map-one" allowfullscreen></iframe>

</section>
<!--Google Map End-->
